.custom-switch {
  display: flex;
  align-items: center;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

.switch-checkbox:checked + .switch-label {
  background-color: #4caf50; /* Dark mode color */
}

.switch-inner {
  display: none;
}

.switch-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.switch-checkbox:checked + .switch-label .switch-circle {
  transform: translateX(25px);
}
